html,
body {
    font-family: "Courier New", monospace;
    background-color: #000;
    color: #008000;
    height: 100%;
}

.image {
    margin: 2em;
}

.content {
    width: 70vw;
    max-width: 900px;
    margin: auto;
    background-color: #001100;
    display: flex;
    flex-direction: column;
}

.logo {
    align-self: center;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    width: 65vmin;
    height: 65vmin;
}

p {
    font-size: 3em;
    margin: 1em;
    text-transform: lowercase;
    text-align: center;
}

a:link {
    color: #008000;
}

a:visited {
    color: #008000;
}

a:hover {
    color: hotpink;
}